{% extends 'base.html.twig' %}

{% block title %}Hello PruebaController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/Index.css') }}">
{% endblock %}

{% block body %}

<main class="margenes">
    <h1 class="w-50 p-3 m-3">INSERTAR REVIEW FORMULARIO</h1>


    <section class="w-50 p-3 m-3">
        {{ form_start(miForm) }}
            {{ form_widget(miForm) }}
        {{ form_end(miForm) }}
        
        </section>


</main>
{% endblock %}
